html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

h1, a:link, a:visited, a:hover, a:active {
  color: #fa4567;
}

footer {
    background-color: #fa4567;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow:hidden;
    text-align: center;
    padding-top: 20px;
}
